* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3edc8;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

h1 {
    font-size: 50px;
    font-family: Garamond, serif;
    padding: 15px 15px 5px 15px;
    background: #7d0a0a;
    color: #f3edc8;
}

.title > p {
    background-color: #7d0a0a;
    color: #f3edc8;
    padding-left: 15px;
    padding-bottom: 15px;
}

h3 {
    font-size: 30px;
    font-family: Garamond, serif;
    background-color: #7d0a0a;
    color: #f3edc8;
    margin: 0px;
    padding: 5px 20px;
}

.collection h3 {
    background-color: #bf3131;
}

p {
    font-size: 16px;
    margin: 0px;
    padding: 10px;
}

ul {
    margin: 10px 0px;
    margin-left: 30px;
}

ul a {
    font-size: 20px;
}

ol {
    margin: 10px 0px;
    margin-left: 30px;
}

img {
    height: 400px;
    width: auto;
    margin-left: 15px;
}